<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="name">
        <p>hello {{name.toUpperCase()}}</p>
        <p v-text="name"></p>
        <p v-html="test1"></p>
        <img :src="imgsrc" alt="aaa">

        <button @click="demo2" type="button">demo2</button>
        <button @click="demo3(test1)" type="button">demo2</button>

        <br>
        sex:<input type="text" name="sex" v-model="sex"><br>
        name:<input type="text" name="userName" v-model="userName"><br>
        fff_sex:<input type="text" name="userName" v-model="fffsex"><br>
<!--        CCC_name:<input type="text" name="userName" v-model="fffname"><br>-->
        3333:<input type="text"  v-model="f333"><br>

        {{sex}}
        {{userName}}

        <!-- 绑定 class 和 样式-->
        <br>
        <span :class="class1">class color</span><br>
        <button type="button" @click="change">click</button>
        <br>
        <span :class="{class1:isclass1}">span style</span>


        <!--条件 渲染-->
        <!-- v-if v-else v-show -->
        <br>
        <!-- 渲染否？-->
        <!--移除-->
        <p v-if="success">success</p>
        <p v-else="success">fail</p>
        <!--style 样式 隐藏 // 没有 移除掉 哦-->
        <p v-show="success">success</p>
        <p v-show="!success">fail</p>
        <button @click="success=!success">success</button>


        <!--列表渲染-->
        <!--v-for-->
        <br>
        <ul>
            <!--遍历 数组-->
            <li v-for="(p,index) in listVal" :key="index">
                {{p.name + ' ' + p.age + ' ' + index}}
                <!--更新 的 注意 vue 只是 监视了list 没有 监视 list的内部 数据 -->
                <!-- 数组 观察 // 触发视图 更新-->
                <!--重写-->
                <button @click="deletev(index)" type="button">delete</button>
            </li>
            <!--遍历 对象-->
            <li v-for="(value , key) in listVal[0]" :key="key">
                {{value}} --- {{key}}
            </li>
        </ul>


        <!--排序-->
        <!-- 按照 年龄 顺序-->
        <input type="text" v-model="searchName">
        <ul>
            <li v-for="(v,index) in filterName" :key="index" v-text="v.age + ' ' + v.name"></li>
        </ul>
        <!--升 降 原来-->
        <button @click="v1(0)" type="button">排序1</button>
        <button @click="v1(1)" type="button">排序2</button>
        <button @click="v1(2)" type="button">排序3</button>






    </div>
</body>
<style>
    .class1{
        color: red;
    }
    .class2{
        color: blue;
    }
</style>

<script src="vue.min.js"></script>
<script>
    /*
    *
    * mvvm
    * model (object data)
    * view (dom)
    * viewModel (vue) dom 监听 数据绑定
    * */
    const vm = new Vue({
        el: '#app',
        data: {
            info : null,
            name: 'qian_mu_na' ,
            test1 : '<a href="#" >demo</a>',
            imgsrc: 'demo',
            sex: '',
            userName: '',
            class1 : 'class1',
            isclass1: false,
            success: false,
            listVal : [
                {name:'ss' , age: 12},
                {name:'aa' , age: 13},
                {name:'cc' , age: 14},
                {name:'dd' , age: 15},
                {name:'ee' , age: 16},
            ],
            searchName: '',
            // 排序
            orderType: 0,

        },
        mounted () {

        },
        // 计算属性
        // 存在 缓存 中 多次计算 只执行一次 getter计算
        computed : {
            // 方法
            // 单向
            fffsex(){
                return this.sex + '' + this.userName;
            },
            // d对象
            // 双向
            // 高级 方法 -》
            // get
            // set  方法
            f333 :{
                // 回调
                get(){
                    return this.sex;
                },
                //
                set(v1){
                    this.sex = v1;
                }
            },
            // eg:排序 计数
            filterName(){
                // 拿到数据
                const {searchName, listVal,orderType} = this;
                // 排序
                // 返回 负数
                // v1在前
                // 否则 v2 在前
                listVal?.sort( (v1,v2) => {
                    return orderType === 1 ? v1.age - v2.age :
                        (orderType === 2 ? v2.age - v1.age : v1.age - v2.age);
                });
                //return val
                let list;
                // 过滤
                list = listVal.filter( v1 => v1.name.indexOf(searchName) !== -1 );
                return list;
            }
        },
        // 监视
        // 单向
        watch :{
            // sex : function(v1){
            //     this.fffname = v1 + "hello";
            // },
            // userName: function(v1,v2){
            //     this.fffname = v1 + v2 + "hello";
            // }
        },
        methods:{
            demo2(){
                alert("6");
            },
            demo3(v1){
                alert(v1)
            },
            change(){
                this.class1 = this.class1 ==='class1' ? 'class2' : 'class1';
                this.isclass1 = !this.isclass1;
            },
            deletev(v1){
                this.listVal.splice(v1,1)
            },
            setOrder(v1){
                this.orderType = v1;
            }
        }

    });
</script>
</html>